[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
aiohttp = "==3.5.4"
requests = "==2.21.0"
jupyter = "==1.0.0"
ipykernel = "==5.1.0"
Flask = "==1.0.2"
